<div class="stage" id="stage">
<div class="block block-inverse block-fill-height app-header" style="background-image: url(https://images.unsplash.com/photo-1496368077930-c1e31b4e5b44?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1161f053f97f62f19918fbadf7ecf21e&auto=format&fit=crop&w=3300&q=80)">

  <div class="container py-4 fixed-top app-navbar">
  <nav class="navbar navbar-transparent navbar-padded navbar-expand-md">
    <a class="navbar-brand mr-auto" href="#">
      <strong style="background-color: #fff; padding: 12px; border-radius: 4px; color: #962521;">Communication Concepts</strong>
    </a>
    <button class="navbar-toggler" type="button" data-target="#" data-toggle="stage" data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-none d-md-block text-uppercase">
      <ul class="navbar-nav">
        <li class="nav-item px-1 ">
          <a class="nav-link " href="#">Home</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link " href="#company">Company</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link " href="#services">Services</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link " href="#partners">Partners</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link " href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>


  <div class="block-xs-middle pb-12">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-4 col-md-6">
          <h1 class="block-titleData frequency ">Communication Concepts</h1>
          <p class="lead mb-4 ">CCI has a wealth of experience and industry knowledge in the design and implementation of mission critical networks. </p>
          <button class="btn btn-primary btn-lg">Try it now</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="block block-secondary app-iphone-block">
  <div class="container">
    <div class="row app-align-center" id="company">

      <div class="col-sm-5 d-none d-md-block">
        <img class="app-iphone" src="https://images.unsplash.com/photo-1518118238797-500670daedf7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=85cb561f6a237a4926da07acaca7b019&auto=format&fit=crop&w=2250&q=80" style="width: 100%;">
      </div>

      <div class="col-md-6 col-sm-12 ml-auto">
        <h6 class="text-muted text-uppercase">Rich Information</h6>
        <h2>The History Behind Us</h2>
        <p class="lead mb-4">Communication Concepts Inc. (CCI) was founded in 1993, to provide communication products, services and industry expertise that positively impact our client's competitive position in their market. CCI has a wealth of experience and industry knowledge in the design and implementation of mission critical networks.</p>
        <div class="row d-none d-md-flex">
          <div class="col-sm-6 mb-3">
            <h5>Customers</h5>
            <p>Customers of Communication Concepts are presented with the latest advanced technologies available in the market today. It is the strategy of CCI to provide vendor independent solutions to our customers. Based on the specific needs of the client, the correct technology management services will be developed and implemented to meet their needs.</a></p>
          </div>
          <div class="col-sm-6">
            <h5>Our Commitment</h5>
            <p>Networks in the Financial, Manufacturing and Transportation industries have been implemented with the aid of personnel at CCI. It is our commitment to provide unsurpassed levels of service to our clients, enabling them to exceed their business objectives.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="block block-secondary app-block-marketing-grid" style="background-color: #f2efef">
  <div class="container text-xs-center">

    <div class="row mb-5 justify-content-center" id="services">
      <div class="col-10 col-sm-8 col-lg-6">
        <h6 class="text-muted text-uppercase mb-2">Inside the machine</h6>
        <h2 class="mb-4">Communication Concepts provides comprehensive service offerings to our customers.</h2>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="https://images.unsplash.com/photo-1495791153954-705fa8c56eec?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c07ca800be2bf63dd3b8df8f4d708069&auto=format&fit=crop&w=2250&q=80" height="75%" width="75%">
        <p><strong>LAN/WAN Integration</strong></p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="https://images.unsplash.com/photo-1495714096525-285e85481946?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f44e6b37ac0748ee17af845bb6e63f5f&auto=format&fit=crop&w=3300&q=80" height="75%" width="75%">
        <p><strong>Video Surveillance and Monitoring solutions.</strong></p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="https://images.unsplash.com/photo-1468495244123-6c6c332eeece?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1597166de540194ea72b5db9c0828bed&auto=format&fit=crop&w=1844&q=80" height="75%" width="75%">
        <p><strong>Multimedia (Voice/Data/Video Integration)</strong></p>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="https://images.unsplash.com/photo-1513908957990-b2790723edbf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2bf9c59279da903776e18e6968e8d581&auto=format&fit=crop&w=2250&q=80" height="75%" width="75%">
        <p><strong>Wireless HotSpot and WAN Solutions </strong></p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="https://images.unsplash.com/photo-1490775949603-0e355e8e01ba?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb1c2a6b031b2849d6bef9adabaaa12b&auto=format&fit=crop&w=2247&q=80" height="75%" width="75%">
        <p><strong>Access Infrastructure for small, medium and enterprise customers.</strong></p>
      </div>
    </div>
    </div>
  </div>


  <div class="block block-inverse app-high-praise" style="background-image: url(https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=74be18f074e19e06a51221f0f09969df&auto=format&fit=crop&w=2252&q=80);">
    <div class="container">
      <div class="row app-align-center py-3 justify-content-end" id="partners">
        <div class="col-sm-7 col-md-5 py-5">
          <h6 class="text-muted text-uppercase mb-2">High Praise</h6>
          <h2 class="mb-4">“Go Analytics is amazing. Decisions that used to take weeks, now only takes minutes and is available to everyone on my team.”</h2>
          <p class="mb-4 text-muted">Cindy Smith, founder of Cool Startup</p>
        </div>
      </div>
  </div>
</div>

<div class="block app-ribbon py-5" style="background-color: lightblue;">
  <div class="container text-xs-center">
    <h1> Product Partners: </h1>
    <br>
    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
      <h1>BOSCH</h1>
      </div>
      <div class="col-md-4 px-4 mb-5">
      <h1>FLUIDMESH</h1>
      </div>
      <div class="col-md-4 px-4 mb-5">
      <h1>sightlogix</h1>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <h1>FLIR</h1>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <h1>ADTRAN</h1>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <h1>JUNIPER NETWORKS</h1>
      </div>
    </div>
  </div>
</div>


<div class="block block-inverse app-footer" id="contact-us">
 <div class="container">
    <div class="row">
      <div class="col-md-5 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">Office Location</h6></li>
          <li class="text-muted">
            2549 Success Drive, Odessa, Florida 33556 <br>
            Phone: 813-888-6611 <br>
            Fax: Call to inquire <br>
          </li>
        </ul>
      </div>
      <div class="col-md-4 ml-auto mb-5">
        <iframe width="400" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=2549+Success+Drive,+Odessa,+FL+33556&amp;daddr=&amp;hl=en&amp;geocode=CZlWDZSKruuRFYoxrgEd90AT-yn51_tqIJTCiDHHzsQjRyzleg&amp;sll=28.193162,-82.624265&amp;sspn=0.010534,0.01929&amp;mra=mift&amp;ie=UTF8&amp;ll=28.193162,-82.624265&amp;spn=0.010534,0.01929&amp;t=m&amp;output=embed"></iframe>
      </div>
      </div>
    </div>
  </div>
</div>


</div>
